.mining-power {
    text-align: center;
    margin: 20px;
    background-color: #e0e0e0; /* Light gray background */
    padding: 15px;
    border-radius: 10px;
}

.mining-power h2 {
    color: #333; /* Darker text color */
}

.mining-power p {
    font-size: 1.2em;
    font-weight: bold;
    color: #f54242; /* Use the same color as buttons */
}
